<footer>

  <div class="container">

    <div class="social-links">

      <a href="https://github.com/narimanawny78" target="_blank" class="social-link">

        <i class="fab fa-github"></i>

      </a>

      <a href="https://www.linkedin.com/in/nariman-awny/" target="_blank" class="social-link">

        <i class="fab fa-linkedin-in"></i>

      </a>

    </div>

    <p class="footer-text">

      © {{ currentYear }}
      My Portfolio.
      All rights reserved.

    </p>

  </div>

</footer>