<header id="home">
  <div class="container">
    <div class="hero">
      <!-- LEFT SIDE -->
      <div class="hero-text">
        <h1>
          Hi, I'm <span class="typed-text">{{ currentText }}</span>
          <span class="cursor">|</span>
        </h1>
        <p>
          A passionate Front-End Developer dedicated to building responsive and
          modern web applications.
        </p>
        <a href="assets/files/nariman_resume.pdf" download class="btn">
          Download CV
        </a>
        <a href="#contact" class="btn outline-btn"> Contact Me </a>
      </div>
      <!-- RIGHT SIDE -->
      <div class="hero-image">
        <div class="image-shape"></div>

        <img src="assets/images/landing-removebg-preview.png" alt="Nariman" />
      </div>
    </div>
  </div>
</header>

<!-- About Section -->

<app-about/>

<!-- Skills Section -->
<app-skills/>

<!-- Projects Section -->
<app-projects/>


<!-- ContactUs Section -->
 <app-contact/>


 <!-- ScrollToTop -->
  <app-scroll-top/>
