header {
  min-height: 100vh;

  display: flex;

  align-items: center;
}

.hero {
  display: grid;

  grid-template-columns: repeat(2, 1fr);

  gap: 4rem;

  align-items: center;
}

/* TEXT */

.hero-text h1 {
  font-size: 4rem;

  margin-bottom: 1.5rem;

  line-height: 1.2;
}

.typed-text {
  color: var(--accent-color);
}

.cursor {
  color: var(--accent-color);

  animation: blink 0.7s infinite;
}

.hero-text p {
  font-size: 1.1rem;

  color: var(--secondary-text);

  line-height: 1.8;

  margin-bottom: 2rem;
}

.hero-buttons {
  display: flex;

  gap: 1rem;

  flex-wrap: wrap;
}

.outline-btn {
  background-color: transparent;

  border: 1px solid var(--accent-color);

  color: var(--accent-color);
  margin: 10px;
}

.outline-btn:hover {
  color: white;
}

/* IMAGE */

.hero-image {
  position: relative;
}

.image-shape {
  position: absolute;

  inset: 0;

  background-color: var(--accent-color);

  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;

  animation: morph 8s infinite ease-in-out;

  z-index: -1;
}

.hero-image img {
  width: 100%;

  max-width: 500px;

  margin-inline: auto;
}

/* ANIMATION */

@keyframes morph {
  0%,
  100% {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  }

  50% {
    border-radius: 58% 42% 75% 25% / 76% 46% 54% 24%;
  }
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

/* RESPONSIVE */

@media (max-width: 992px) {
  .hero {
    grid-template-columns: 1fr;

    text-align: center;
  }

  .hero-image {
    order: -1;
  }

  .hero-buttons {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .hero-text h1 {
    font-size: 2.8rem;
  }
}
